.sub_visual {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  min-height: 900px;
  max-height: 1080px;
  padding-top: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page_title {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 95px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h3 {
      position: relative;
      font-size: 70px;
      font-weight: 700;
      color: #000;
      line-height: 1;
    }
  }

  ul.sm_menu {
    display: flex;

    li {
      position: relative;
      color: #929292;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      display: flex;
      align-items: center;
      white-space: nowrap;
      flex-shrink: 0;

      &:first-child {
        padding-left: 12px;
      }

      a {
        color: #e66da5;
        font-size: 15px;
      }
    }
  }

  &.sub1 {
    .bg_wrap {
      background-image: url(./../images/sub_visual05.jpg);
    
    }
  }

  .bg_wrap {
    width: 100%;
    height: calc(100% - 260px);
    background: 50% / cover no-repeat;
    background-attachment: fixed;
  }
}


#notice-list {
  .sub_inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .list-info {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;

    strong {
      font-weight: 600;
    }
  }

  .notice-table {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    margin-bottom: 80px;

    thead {
      th {
        padding: 15px 0;
        font-weight: 500;
        color: #222;
        border-bottom: 1px solid #ddd;
        text-align: center;
      }
    }

    tbody {
      tr {
        &.no-data {
          td {
            padding: 60px 0;
            text-align: center;
            color: #888;
            font-size: 16px;
          }
        }
        &:not(.no-data) td {
          padding: 15px 0;
          border-bottom: 1px solid #eee;
          text-align: center;
          color: #555;
        }
      }
    }
  }
}
