* {
    margin: 0;
    padding: 0;
 
}





.title {
    width: 100%;  
    border: none;
   
}

.tab-menu{ width: 33%; margin: 100px auto; }
.tab-menu>th{border-bottom: none;}

table {
    width: 1200px;
    margin: 50px auto;
    border-bottom: 0;
    
}

th { height: 15px;}
 

th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #999;
}


.tab-menu {
    position: relative;
    padding-left: 0;
    z-index: 1;
    cursor: pointer;
   
}

.tabmenu>th {display: block;}

.tab-menu th:hover {color: #ffa939;;}

.tabmenu>th .active {color: #ffa939;}

/* #tab-content{min-height: 300px;} */



.nav {
    width: 1200px; 
    margin: 0 auto;
    position: relative;
}

/* .tab-wrapper {
    width: 100%;
    height: 800px;
    background-color: antiquewhite;
    margin: 0px auto;
   
 
} */


#tab-content { cursor: pointer;}




